# custom ignore
data/
ckpts/
results/
deprecated/
original_notebooks/
claude_things/
white_patches_code/

__pycache__/loreal_utils.cpython-310.pyc
__pycache__/loreal_dataset.cpython-310.pyc
__pycache__/loreal_dataset_fixed.cpython-310.pyc
__pycache__/demo_test_poisson_modified4FMDD.cpython-310.pyc
verification_output_2.txt
verification_output_1.txt
tmp
sequences_left_out.txt
sequences_left_out_local.txt
demo_test_poisson.ipynb
demo_test_poisson_modified4FMDD.ipynb
demo_test_gaussian.ipynb
demo_test_gamma.ipynb
comparison.png
demo_test_poisson.ipynb
demo_test_gaussian.ipynb
demo_test_gamma.ipynb
demo_test_poisson.ipynb
demo_test_gaussian.ipynb
demo_test_gamma.ipynb
FastDVDnet-pure_poisson-a=1-normalization_by_255.pth
__pycache__/training_utils.cpython-310.pyc
